<div id="navbar">
    <div class="navbar-container">
        <div class="navbar-logo-container" tabindex="0" onclick="location.href='/dashboard'">GiftList</div>
        <div class="navbar-user-container" tabindex="0" onclick="document.getElementById('account').classList.add('showing');">
            <div id="user-name" class="user-name"><%= user.name %></div>
            <div id="user-picture" class="user-picture" style="height: 30px; width: 30px; 
                background-image: url('<% if(user.picture != null) { %><%= user.picture %><% } else { %>/no-user-icon.png<% } %>')">
            </div>
        </div>
    </div>
</div>