<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Once Upon a Wishlist</title>
</head>
<body>
    <div id="navbar" style="background-color: #ffffff; margin-bottom: 0;">
        <div class="navbar-container">
            <div class="navbar-logo-container" style="color: var(--main);">Once Upon a Wishlist</div>
            <a href="/login" class="navbar-signin">Sign In</a>
        </div>
    </div>
    <div id="index-main">

    </div>
    
    
    <h1>Welcome!</h1>
    <h3>Gonna make the site pretty soon.</h3>
    <a href="/register"><h2>Register for an Account</h2></a>
    <p>Already have an account? <a href="/login">Login</a></p>
</body>
</html>