<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Once Upon a Wishlist</title>
</head>
<body>
    <main>
        <div class="login-container">
            <div class="login" tabindex="0" onclick="location.href='/login';">Sign In</div>
        </div>
        <div class="container">
            <div class="logo-gift">
                <div class="logo">
                    <img src="/once-upon-a-wishlist-logo.png">
                </div>
                <div class="gift">
                    <img src="/gift-icon.png">
                </div>
            </div>
            <div class="headline">The easiest way to make sure you get exactly what you want on your special days</div>
            <div class="info-container">
                <div class="container-inner">
                    <div class="info-header">Make a List</div>
                    <div class="info">Whether it's a birthday, Christmas, or a baby shower... make a list with all the details that your friends and 
                        family will need to get you precisely what you're looking for. Once it's created, easily send the list out to everyone!</div>
                </div>
                <div class="container-inner">
                    <div class="info-header">Reserve a Gift</div>
                    <div class="info">When browsing your friends and familys wishlist, you'll be able to reserve the present that you want to buy. This 
                        will keep gifts from people buying duplicates. And with the gift details, you'll be able to get them exactly what they want this year.</div>
                </div>
            </div>
            <button>REGISTER NOW</button>
        </div>
    </main>
    
    
    
    
    
    
    
    <!--<div id="navbar" style="background-color: #ffffff; margin-bottom: 0;">
        <div class="navbar-container">
            <div class="navbar-logo-container" style="color: var(--main);">Once Upon a Wishlist</div>
            <a href="/login" class="navbar-signin">Sign In</a>
        </div>
    </div>
    <div id="index-main">
        <h1>The best place to make a list!</h1>
    </div>
    
    
    <h1>Welcome!</h1>
    <h3>Gonna make the site pretty soon.</h3>
    <a href="/register"><h2>Register for an Account</h2></a>
    <p>Already have an account? <a href="/login">Login</a></p>-->
</body>
</html>