<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Once Upon a Wishlist</title>
</head>
<body>
    <h3>That list doesn't exist.</h3>
    <form action="/dashboard" method="post">
        <div>
            <label for="list">Try again?</label>
            <input type="text" id="list" name="list" required>
        </div>
        <button type="submit">GO!</button>
    </form>
    <br /><br />
    Or go back to your <a href="/dashboard">Dashboard</a>
</body>
</html>