<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Terms of Service - GiftList</title>
</head>
<body style="background-color: var(--main);">
    <div class="reglog-container">
        <div class="reglog">
            <header>
                <div class="cancel-back"></div>
                <h1>Terms of Service</h1>
                <div class="cancel-back"></div>
            </header>
            <div class="logo-container">
                <div style="font-size: 40px; font-weight: 900; color: var(--main)"><b>GiftList</b></div>
            </div>
            <div class="terms-container" style="align-items: flex-start">
                <div class="terms">
                    You actually clicked this? Wow. You are a very thorough person. I'm impressed.<br /><br />
                    Here's the terms of service. Use the site, don't use the site... we just want to make Christmas and birthday's 
                    a little easier. There's no personal information stored except for an email address. And since you were bold 
                    enough to actually click on the Terms of Service link, I'm gonna let you in on a little secret...
                    <small>... it doesn't even have to be real.</small>
                    <br /><br />But just in case someone hacks in to our little app, don't sue us. That's the terms. By logging in, 
                    you agree not to sue us if you start getting emails from Nigerian princes.
                </div>
            </div>
            <button onclick="location.href='/login'" type="button">Go Back</button>
        </div>
    </div>
</body>
</html>