<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Register - GiftList</title>
</head>
<body style="background-color: var(--main);">
    <div class="reglog-container">
        <div class="reglog">
            <header>
                <div class="cancel-back"></div>
                <h1>Why sign up?</h1>
                <div class="cancel-back"></div>
            </header>
            <div class="logo-container">
                <div style="font-size: 40px; font-weight: 900; color: var(--main)"><b>GiftList</b></div>
            </div>
            <div class="terms-container" style="align-items: flex-start">
                <div class="terms">
                    Why do you have to create an account to view and create lists? It's so people can tell who reserved each gift. It also keeps little Suzie from looking at who's buying her Christmas presents, or little Bobby from seeing which presents he's getting for his birthday.
                    <br /><br /><br />We won't sell it to anybody or flood you with emails. Promise.
                </div>
            </div>
            <button onclick="location.href='/register'" type="button">Go Back</button>
        </div>
    </div>
</body>
</html>