@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* { padding: 0; margin: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif; }
body { 
    --main: #00a87e;
    --main-hover: #54bba1;
    --text: #121212;
    --text-hover: #999999;

    --picture-width: min(calc((100% - 16px) / 2), 248px);
}

.form-container { display: flex; flex-direction: column; gap: 8px; }
.input-container { width: 100%; display: flex; flex-direction: column; }
label { font-size: 14px; font-weight: 700; padding: 4px; }
input { width: 100%; margin: 4px; padding: 9px 16px; border-radius: 8px; font-size: 14px; font-weight: 400; border: 1px solid #cccccc; outline: none; }
input:focus { border: 1px solid var(--main); }
a { width: fit-content; height: 25px; font-size: 14px; font-weight: 400; text-decoration: underline; color: var(--text); margin: 4px; }
a:hover { color: var(--text-hover); }
button { width: 100%; display: flex; justify-content: center; align-items: center; padding: 12px; border: 0; border-radius: 20px;
    background-color: var(--main); color: #ffffff; font-size: 16px; font-weight: 700; }
button:hover { cursor: pointer; background-color: var(--main-hover); }
button.small { width: 120px; min-width: 120px; height: 28px; padding: 0 16px; margin: 0 8px; background-color: #ffffff; color: var(--text); border: 1px solid var(--text); 
    border-radius: 4px; font-size: 13px; font-weight: 500; text-transform: uppercase; }
button.small.saved { background-color: var(--main); color: #ffffff; }
button.small:hover { cursor: pointer; background-color: #dddddd; }
button.small.saved:hover { cursor: pointer; background-color: var(--main-hover); }
button.small .material-symbols-outlined { padding-right: 6px; font-size: 18px; }
button.inverse { background-color: #ffffff; color: var(--main); width: auto; }
button.inverse:hover { color: var(--main-hover); }

.reglog-container { width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center;}
.reglog { width: 100%; max-width: 476px; height: 665px; padding: 32px; background-color: #ffffff; border-radius: 4px; display: flex; 
    flex-direction: column; align-items: center; }

header { width: 100%; display: flex; justify-content: space-between; align-items: center; margin-bottom: 8px; }
h1 { flex-grow: 1; text-align: center; font-size: 24px; font-weight: 900; margin: 0; }
h1.page { text-align: left; }
.header-description { width: 100%; font-size: 14px; font-weight: 400; text-align: left; }
.cancel-back { width: 60px; font-size: 16px; font-weight: 400; color: var(--text); text-decoration: none; margin: 0; padding: 0; }
.cancel-back:not(.no-hover):hover { cursor: pointer; color: var(--main-hover); }

.logo-container { height: 40px; margin: 16px 0 32px 0; display: flex; justify-content: center; align-items: center; }
.password-container { width: 100%; border-radius: 8px; border: 1px solid #cccccc; display: flex; align-items: center; padding-right: 16px; }
    .password-container > input { flex-grow: 1; border: 0; outline: none; margin: 0; }
    .password-container:focus-within { border: 1px solid var(--main); }
    #show-password { width: 44px; font-size: 14px; font-weight: 700; color: var(--main); }
    #show-password:hover { cursor: pointer; text-decoration: underline; }

#account { position: absolute; top: 0; left: 0; width: 100vw; height: 0; display: flex; background-color: rgba(0, 0, 0, .8); justify-content: center; overflow: hidden;
    align-items: center; z-index: 2; white-space: nowrap; transition-duration: .3s; }
#account.showing { height: 100vh; }
#account-background { position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; z-index: -1; }
.picture-preview { width: 100%; display: flex; flex-direction: column; align-items: center; margin-top: 12px; }
    #picture-error { color: darkred; display: none; font-size: 10px; font-weight: 700; padding: 4px; text-transform: uppercase;}
    

#navbar { width: 100%; height: 60px; background-color: var(--main); margin-bottom: 24px; display: flex; justify-content: center; }
    .navbar-container { width: 100%; height: 100%; max-width: 1024px; padding: 0 24px; display: flex; justify-content: space-between; align-items: center; }
        .navbar-logo-container { font-size: 40px; font-weight: 900; color: #ffffff; }
        .navbar-logo-container:hover { cursor: pointer; }
        .navbar-user-container { display: flex; align-items: center; gap: 16px; padding: 8px; border-radius: 8px; }
            .user-picture { border-radius: 50%; background-size: cover; background-position: center center; }
            /*.user-picture > img { height: auto; width: auto; min-height: 100%; min-width: 100%; }*/
            .user-name { font-size: 16px; font-weight: 500; color: #ffffff; }
        .navbar-user-container:hover { cursor: pointer; background-color: var(--main-hover); }
        /*.navbar-user-container:hover .user-name { color: #dddddd; }*/

a.signup { width: 100%; height: 40px; margin: 4px; text-align: center; color: var(--main); align-items: center; font-size: 18px; font-weight: 900; text-decoration: none; }
a.signup:hover { color: var(--main-hover); }

.terms-container { flex-grow: 1; width: 100%; display: flex; align-items: flex-end; margin-bottom: 16px; }
.terms { width: 100%; font-size: 14px; font-weight: 400; line-height: 24px; padding: 16px; text-align: center; }

.page-container { width: 100vw; display: flex; flex-direction: column; align-items: center; }
.main-container { width: 100%; max-width: 1024px; display: flex; flex-wrap: wrap; margin: 8px 0; justify-content: center; }
.main-container.left { justify-content: flex-start; }
.main-container > header, .main-container > .header-description { margin-left: 16px; }


.list-item { width: var(--picture-width); margin: 4px; border: 1px solid var(--text-hover); border-radius: 8px; display: flex;
    flex-direction: column; align-items: center; }
    .list-item > .image-container { position: relative; width: 100%; height: calc(var(--picture-width) * 1.2); min-height: calc(var(--picture-width) * 1.2); 
        max-height: calc(var(--picture-width) * 1.2); display: flex; align-items: center; justify-content: center; flex-wrap: wrap; gap: 8px; }
        .list-item > .image-container > img { width: auto; height: auto; max-width: 100%; max-height: 100%; border-radius: 8px; }
        .list-item > .image-container > img.small { max-width: calc(50% - 4px); max-height: calc(50% - 4px); border-radius: 4px; }
    .list-item > .name { width: 100%; height: 40px; margin-top: 8px; padding: 0 4px; text-align: left; font-size: 14px; font-weight: 400; line-height: 20px; 
        text-overflow:ellipsis; overflow: hidden; display: -webkit-box !important; -webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: normal; }
    .list-item > .price-link { width: 100%; display: flex; height: 25px; padding: 0 8px; align-items: center; }
    .list-item > .price-link > .price { flex-grow: 1; font-size: 16px; font-weight: 700; padding-left: 8px; }
    .list-item > .price-link > .link { font-size: 14px; font-weight: 400; }
    .list-item > .description { width: 100%; margin: 8px 0; padding: 0 8px; display: flex; flex-wrap: wrap; font-size: 12px; font-weight: 400; line-height: 20px; }
        .list-item > .description > .details { width: 100%; min-height: 40px; padding: 0 16px; }
    /*.list-item .material-symbols-outlined { font-size: 14px; margin-top: -3px; }*/
    .reserve-status { position: absolute; max-width: calc(100% - 16px); right: 8px; top: 8px; padding: 4px 8px; border-radius: 4px; display: flex; align-items: center; 
        border: 1px solid var(--text-hover); background-color: #ffffff; color: var(--text); flex-wrap: wrap; justify-content: flex-start; }
    .reserve-status:not(.taken):hover { cursor: pointer; background-color: #dddddd; }
    .reserve-status.taken { right: auto; top: auto; left: 8px; bottom: 8px; background-color: var(--main); color: #ffffff; }
    .reserve-overlay-text { font-size: 14px; font-weight: 500; display: flex; align-items: center; }
    .reserve-overlay-text.remove { text-decoration: underline; color: #dddddd; padding-left: 8px; }
    .reserve-overlay-text.remove:hover { cursor: pointer; color: #bbbbbb; }
    .reserve-overlay-text .material-symbols-outlined { font-size: 16px; margin-top: -3px; padding-right: 8px; }

.creator-list-item-container { width: 100%; display: flex; margin: 4px; border: 1px solid var(--text-hover); border-radius: 8px; height: 150px; }
.creator-list-picture-container { margin: 8px; display: flex; justify-content: center; align-items: center; }
    .creator-list-picture-container > img { width: auto; height: auto; max-height: 134px; max-width: 134px; }
.creator-list-details { flex-grow: 1; height: 100%; display: flex; flex-direction: column; justify-content: center; margin: 0 8px; }
    .creator-list-details .name { font-size: 24px; font-weight: 700; color: var(--main); }
    .creator-list-details .description { display: flex; flex-wrap: wrap; column-gap: 16px; line-height: 20px; }
    .creator-list-price-link { width: 100%; display: flex; flex-wrap: wrap; height: 25px; font-size: 16px; line-height: 20px; column-gap: 16px; margin-top: 16px; }
        .creator-list-price-link a { font-size: 16px; line-height: 22px; margin: 0; display: flex; align-items: flex-start;  }
        .creator-list-price-link a .material-symbols-outlined { font-size: 16px; }

.image-container.dashboard:hover { cursor: pointer;}
.dashboard-name { height: 60px; padding: 8px 4px 4px 4px; font-size: 18px; font-weight: 700; line-height: 24px; text-overflow:ellipsis; overflow: hidden; display: -webkit-box !important; 
    -webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: normal; width: 100%; text-align: center; }
.dashboard-description { height: 36px; margin: 8px; font-size: 14px; font-weight: 400; line-height: 18px; text-overflow:ellipsis; overflow: hidden; display: -webkit-box !important; 
    -webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: normal; width: 100%; text-align: left; padding: 0 8px; }


@media(max-width: 476px) {
    .main-container.left { justify-content: center; }
    .reglog { height: 100vh; border-radius: 0; }
    #account > .reglog { height: auto; width: calc(100vw - 32px); border-radius: 8px; }
    .reserve-overlay-text, .creator-list-details .description { font-size: 12px; line-height: 16px; }
    .creator-list-price-link, .creator-list-price-link a { font-size: 12px; line-height: 16px; }
    .creator-list-price-link a .material-symbols-outlined { font-size: 12px; }
}